{% extends 'adminbase.html.twig' %}

{% block title %}Kategori listesi{% endblock %}

{% block content %}
    <div id="page-wrapper">
        <div class="row">
            <!-- Page Header -->

            <!--End Page Header -->

            <!-- kendi getirdiğim tablo -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Kitchen Sink
                </div>
                <div class="panel-body">
                        {{ include('admin/messages.html.twig') }}
                    <div class="table-responsive">
                        {{ include('admin/product/_form.html.twig', {'button_label': 'Update'}) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
